/* === Google Fonts === */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom Properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #373252;
    --secondary-background-color: #151120;
    --hover-purple-color: #5c428c;
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
    --num-cols: 4;
    --row-height: 20rem;
}


/* Base Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  overflow: auto;
  height: 100%;
  width: 100%;
}

body{
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--light-color-alt);
  background-color: var(--primary-background-color);
  letter-spacing: 1px;
  transition: background-color .25s,color .25s;
  overflow: auto;
}

a{
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}

input,
button {
font: inherit;
color: inherit;
border: none;
background-color: transparent;
}

i{
  font-size: var(--font-size-md);
}

/* Reusable classes */
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.sidebar {
  margin: 0 auto;
  gap: var(--gap)
}

.website-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: var(--light-color);
  font-size: var(--font-size-md);
  width: 100%;
}

.website-title h2 {
  font-size: var(--font-size-md);
  gap: 1rem;
}

.website-title img {
  height: 3rem;
  width: 3rem
}

.website-title span {
  color: var(--light-color);
  font-size: var(--font-size-md);
}
/* ===== Primary Banner (Logo / User Login) ==== */

.top-banner {
  background-color: #2a2833;
  max-height: 3.5rem;
}

.top-banner-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  max-width: 120rem;
}

.nav-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
  width: 30rem;
}

.nav-socials i {
  font-size: var(--font-size-sm);
}

.nav-socials i:hover {
  color: var(--light-color);
  transition: 150ms;
}

.toggle-btn {
  display: none;
}

/* ===== Navigation ===== */

.secondary {
  background-color: #17141f;
  max-height: 7.5rem;
  position: relative;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 7.5rem;
  max-width: 100%;
  margin-left: 10rem;
}

.nav-list {
  list-style: none;
  display: flex;
  text-decoration: none;
  justify-content: center;
}

.nav-list li {
 display: flex; 
 justify-content: center;
 align-items: center;
 width: 8rem; 
}

a {
  text-decoration: none;
  color: #e9ecf3;
  text-transform: capitalize;
  font-size: var(--font-size-xsm);
}

.nav-list li:hover {
  cursor: pointer;
  background-color: #2a2833;
  color: var(--light-color);
  border-radius: 10px;
  height: 3rem;
  box-sizing: border-box;
}

.logo {
  position: relative;
}

.logo a {
  position: absolute;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  left: 0;
  top: -1rem;
}

.logo img {
  height: 10rem;
  width: 10rem;
}

.logo-text {
  display: none;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  font-size: var(--font-size-sm);
}

.logo-small-screens,
i.user-icon-small-screens {
  display: none;
  cursor: pointer;
}

.user-icons {
  display: flex;
}

.user-icon-large-screens {
  color: var(--light-color);
  font-size: 2rem;
}

#cart-icon {
  font-size: var(--font-size-md);
}

.user-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: var(--font-size-xsm);
  gap: 0.75rem;
  text-transform: uppercase;
  color: var(--light-color);
  border-radius: 10px;
  background-color: var(--primary-background-color);
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-weight: 600;
}

.user-btn i {
  font-size: var(--font-size-xsm);
  column-gap: 1rem;
}

.user-btn:hover {
  background: var(--hover-purple-color);
  box-sizing: border-box;
}

.user-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20rem;
  column-gap: 1.5rem;
  line-height: 7.1rem;
}

.user-panel p {
  text-transform: uppercase;
  font-size: var(--font-size-xsm);
}

.user-panel i {
  font-size: var(--font-size-sm);
}

.user-panel:hover {
  cursor: pointer;
  background-color: #17141f77;
  transition: 150ms;
}

.user-panel .fa-arrow-down {
  font-size: var(--font-size-sm);
}

.user-icons {
  gap: var(--gap);
}

/* ===== Dropdown Menu ===== */

.dropdown-menu {
  display: none;
  position: absolute;
  top: 7.5rem;
  right: 0;
  width: 10rem;
  height: 0;
  background: #17141f;
  backdrop-filter: blur(1.5rem);
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0;
  padding: 0;
  z-index: 9999;
  border-radius: 0 0 0.5rem 0.5rem;
}

.dropdown-menu.open {
  height: 100%;
  width: 100%;
  padding: 0;
  
}
.dropdown-menu li {
  display: flex;
  align-items:center;
  justify-content:flex-start;
  height: 6rem;
  column-gap: 1rem;
  width: 100%;
  padding: 20px;
}

.dropdown-menu a {
  color: var(--light-color);
  padding: 0 2.5rem;
}

.dropdown-menu li:hover {
  background-color: var(--hover-dark-color);
  transition: 150ms;
}
.dropdown-menu li a {
  font-size: var(--font-size-xsm);
}

.dropdown-menu .user-panel {
  color: var(--light-color-alt);
}

.dropdown-menu-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2833;
  height: 7.5rem;
  padding: 2rem;
}

.dropdown-menu-socials a i {
  font-size: var(--font-size-sm);
}

/* ===== Headline News ===== */

.headline {
  position: relative;
  width:100%;
  height: auto;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.25s ease;
  padding: 7.5rem 0 7.5rem 0;
}

.headline-content-background {
  position: absolute;
  background-color: var(--transparent-dark-color);
  padding: 6rem;
  width: 100%;
  bottom: 0.3rem;
  border-radius: 0 0 10px 10px;
  z-index: 5;
}


.headline-img img {
  width: 100%;
  height: 60rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.headline-content {
  position: relative;
  width: 100%;
  z-index: 5;
  /* bottom:7rem; */
  letter-spacing: 0.2rem;
  /* background-color: var(--transparent-dark-color); */
  /* padding: 7.5rem; */
} 


.headline-title {
  position: absolute;
  left: 5rem;
  right: 5rem;
  bottom: 7.5rem;
  color: var(--light-color);
  z-index: 5;
  font-size: var(--font-size-md);
  font-weight: 600;
  width: 92.5%;
  text-transform: capitalize;
}


.headline-content p {
  position: absolute;
  color: var(--light-color);
  font-size: var(--font-size-sm);
  left: 5rem;
  bottom: 10rem;
  width: 75%;
  z-index: 5;
}

.headline-btn {
  font-weight: 500;
  letter-spacing: .15rem;
}

.headline-btn a {
  position:absolute;
  width: 10rem;
  height: 4rem;
  background: var(--primary-background-color);
  bottom:2rem;
  left: 5rem;
  border-radius: 10px;
  color: var(--light-color);
  cursor: pointer;
  z-index: 5;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.headline-btn a:hover {
  background: var(--hover-purple-color);
}

 
/* Older posts */
#news-articles {
  background-color: var(--secondary-background-color);
}

#news-articles .container {
  padding: 5rem 2.5rem;
  background-color: var(--secondary-background-color);
  border-radius: 20px 20px 0 0;
}

.article-container-title {
  width: 77%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem 5rem 0;
}

.quick-search-data {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-xsm);
  gap: 10px;
  cursor: pointer;
  width: 77%;
  color: var(--light-color);
  padding-right: 2rem;
}

.quick-search-data div:hover {
  background-color: var(--hover-dark-color);
}

.quick-search-data div {
  border: 1px solid #5c428c;
  padding: 0.5rem;
}

.art-title {
  width: 77%;
}


.latest-news-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-gap: var(--gap);
  width: 77%; 
  padding: 0 1.25rem 2.5rem 0;
}

.article {
  width:100%;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.25s ease;
}

.article:hover {
  transform: translateY(-5px);
  transition: 150ms;
}

.article-content {
  position: relative;
  border-radius: 5px;
}

.article img {
  width: 100%;
  height: 29rem;
  border-radius: 1rem;
}

.article-img img {
  width: 100%;
  height: 29rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-title {
  position: absolute;
  left: 0;
  bottom: 0.4rem;
  color: var(--light-color);
  background-color: var(--transparent-dark-color);
  z-index: 5;
  padding: 1.5rem;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
}

.article-title h2 {
  font-size: 1.4rem;
  font-weight: 200;
}

.article-title p {
  font-size: 1.8rem;
  font-weight: 500;
}

.article-label {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  background: #5c428c;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7em;
  color: var(--light-color);
  padding: 0.5em;
}

/* Fixtures & Results */

.sidebar {
  padding: 0 0.5rem;
}

.matches {
  float: right;
}

.sidebar-titles,
.sidebar-titles-results {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 14px;
  color:var(--light-color);
  padding: 0 0 5rem 0;
}

.sidebar-titles-results {
  padding-bottom: 2.5rem;
}

.upcoming-matches-body,
.results-body {
  background-color: #2a283346;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.8rem;
  width: 25.75rem;
}

.upcoming-matches-body:hover,
.results-body:hover {
  background-color: var(--hover-dark-color);
}

.team-sensei,
.opposition,
.competition {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.team-sensei,
.opposition {
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 2.55rem;
}

.match-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.match-info img {
  height: 20px;
  width: 20px;
}

.team-sensei {
  margin: 0.5rem 0;
}

.team-sensei img,
.opposition img {
  height: 20px;
  width: 20px;
  margin: 0.5rem 0;
}

.team-sensei-results,
.opposition-results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.team-sensei-results h2,
.opposition-results h2 {
  font-size: 1rem;
}


.score {
  display: flex;
  justify-content: space-between;
}

.team-sensei h3,
.opposition h3 {
  display: flex;
  justify-content:right;
}

.title-small-screens {
  display: none;
}


/* ===== Esports Teams ==== */

.esports-team-title {
  padding: 5rem 0;
}

.esports-team{
  position: relative;
  min-height: var(--item-min-height-md);
}

.esports-team-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s;
  border-radius: 1rem;
}

.esports-teams-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.esports-teams-container .esports-team{
  min-height: var(--item-min-height-sm);
}

.esports-team {
  min-height: var(--item-min-height-sm);
}

.tag-name{
  padding: 1rem 0.5rem;
  background-color: var(--transparent-dark-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.esports-teams-container .esports-team:hover .tag-name{
  color: var(--light-color);
}

.esports-teams-container .esports-team{
  overflow: hidden;
  border-radius: 1rem;
}

.esports-teams-container .esports-team:hover .esports-team-image{
  transform: scale(1.05);
}

/* Contact Us */

#contact-page{
  padding-bottom: 5rem;
}

.contact-title {
  font-size: var(--font-size-lg);
  text-align: left;
  padding: 5rem 0 5rem 0;
  color: var(--light-color);
}
.contact-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  border-radius: 1rem;
  gap: var(--gap);
}

.contact { 
  font-size: 13px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
  width: 38rem;
  
}

.contact img {
  height: 20rem;
  width: 37rem;
  border-radius: 1rem;
}

.contact h2 {
  font-size: var(--font-size-sm);
  font-weight: 600;
  margin: 1.5rem 0;
  text-transform: uppercase;
  z-index: 10;
  color: var(--light-color);
}

.contact a {
  color: var(--light-color);
  font-size: var(--font-size-sm);
  letter-spacing: 0.1rem;
  gap: var(--gap)
}

.contact a i {
  font-size: var(--font-size-sm);
}

.contact a:hover {
  color: #a767e5;
  text-decoration: underline;
}

/* ===== Sensei Shop =====*/

.sensei-shop {
  background: var(--secondary-background-color);
}

.sensei-shop .container {
  padding: 7.5rem 2.5rem 10rem 2.5rem;

}

.shop-title {
  padding-bottom: 5rem;
}

.sensei-shop-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.shop-tile > img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.shop-tile:hover {
  transform: scale(1.05);
}

.shop-tile-col-2 {
  grid-column: span 2;
}

.shop-tile-row-2 {
  grid-row: span 2;
}


/* Sponsorship Banner */

.sponsorships-container .container {
  padding: 7.5rem 2.5rem 7.5rem 2.5rem;
  max-height: auto;
  width: 100%;
}

.sponsor-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsor-content a {  
  width: 20rem;
}

.sponsor-content a:hover {
  color: var(--light-color);
  transform: scale(1.1);
}



/* ===== Footer ===== */

.footer {
  background-color: var(--secondary-background-color);
}

.footer-container {
  display: flex;
  flex-direction: row;
  
}

.footer-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--light-color);
  flex-wrap: wrap;
}

.logo-footer {
  display: flex;
  justify-content: start;
  align-items:center;
  gap: var(--gap);
  padding: 2rem 0;
}

.logo-footer img {
  height: 7.5rem;
  width: 7.5rem;
}

.logo-footer h1 {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: var(--font-size-lg);
}

.footer-row h4 {
  font-size: var(--font-size-xsm);
  font-weight: 200;
}

.footer-row .footer-links {
  display: flex;
  gap: var(--gap);
  padding: 2rem 0;
  border-bottom:  2px solid #5c428c1c;
  flex-wrap: wrap;
}

.footer-links li a {
  font-size: var(--font-size-xsm);
  text-transform: capitalize;
}

.footer-row3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-color);
  padding: 2rem 0;
}

.copyright {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap);
}

.copyright i {
  font-size: var(--font-size-xsm);
}

.copyright h4,
.copyright h4 a {
  font-size: var(--font-size-xsm);
  font-weight: 200;
  text-transform: capitalize;
}

.footer-socials a {
  font-size: var(--font-size-md);
  margin: 0 1rem;
}


/* ===== Container Wrapper Responsive Design ===== */

@media (max-width: 1024px) {
  .container {
    max-width: 92.4rem;
  }

  .sidebar {
    display: grid;
  }

  .title-large-screens,
  .sidebar-titles-results {
    display: none;
  }

  .title-small-screens {
    display: flex;
    gap:0.5rem;
    padding-bottom: 0;
    font-size: 18px;
  }

  .sidebar-titles {
    padding-bottom: 2.5rem;
  }

  .upcoming-container,
  .results-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  .match-info {
    flex-wrap: wrap;
  }

  .date-time {
    font-size: 13px;
  }

  .competition {
    font-weight: 600;
  }

  .article-container-title {
    padding-top: 2.5rem;
    width: 100%;
  }

  .latest-news-articles {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-right: 0;
  }

  .esports-teams-container,
  .contact-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .contact  {
    width: 100%;
  }

  .contact img {
    width: 45rem;
  }



  .sponsor-content {
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .nav-list,
  .top-banner,
  .logo-hidden,
  .upcoming3,
  .result3,
  .user-btn {
    display: none;
  }

  .navigation-bar {
    margin: 0 1rem;
  }

  .navigation-bar i {
    font-size: var(--font-size-sm);
  }

  .top-banner-content {
    justify-content: space-evenly;
  }

  .logo-small-screens,
  i.user-icon-small-screens {
    display: flex;
  }

  .website-title h2 {
    font-size: 18px;
  }

  .headline-title {
    font-size: var(--font-size-sm);
  }

  .logo-small-screens img {
    display: flex;
    align-items: center;
    height: 6rem;
    width: 6rem;
  }

  .sidebar {
    padding-bottom: 5rem;
  }

 .toggle-btn,
 .dropdown-menu {
    display: block;
  }

  .primary .container,
  .sponsorships .container {
    margin: 0;
    padding: 0 5rem;
  }

  .container {
    max-width: 100%;
  }

  .esports-teams .container,
  .sensei-shop .container {
    padding: 0 2.5rem;
  }
 

  .article-container-title {
    padding-top: 0;
  }

  .art-title {
    width: 35%;
  }

  .art-title h2,
  .art-title span,
  .art-title i {
    font-size: 1.8rem;
  }

  .sidebar-titles {
    padding-bottom: 2.5rem;
    width: 100%;
  }

  .sidebar-titles-results {
    padding: 2.5rem 0;
  }

  .upcoming-container,
  .results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .upcoming-matches-body,
  .results-body {
    width: 100%;
  }

  .quick-search-data {
    padding-top: 1rem;
    width: 100%;
    font-size: 1rem;
  }

  .esports-content {
    grid-template-columns: 1fr;
  }

  .esports-content div {
    height: 35rem;
  }

  .esports-team-title {
    padding-top: 5rem;
  }

  .esports-teams-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .top-banner,
  .result3,
  .result4,
  .shop-tile-hidden {
    display: none;
  }

  .website-title {
    padding: 2.5rem 0;
  }

 .toggle-btn,
 .dropdown-menu {
    display: block;
  }

  #news-articles .container
  {
    max-width: 100%;
    padding: 2.5rem 1rem;
  }
 
   #headline .container {
    padding: 5rem 0 2.5rem 0;
   }

   .headline {
    padding: 0;
   }

  .headline-title {
    bottom: 6rem;
    font-size: var(--font-size-sm);
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 100%;
    left: 2rem;
  }

  .headline-btn a{
    padding: 1rem;
    font-size: var(--font-size-xsm);
    bottom: 1.5rem;
    left: 2.5rem;
  } 

  .sidebar {
    width: 100%;
    padding-bottom: 2.5rem;
  }

  .title-small-screens {
    width: 100%;
    flex-wrap: wrap;
    font-size: var(--font-size-sm);
  }
  .upcoming-container,
  .results-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    
  }

  .upcoming-matches-body,
  .results-body {
    width: 100%;
  }

  .latest-news-articles {
    padding: 0;
  }

  .article-container-title {
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0;
    padding-bottom: 2.5rem;
  }

  .art-title {
    width: 100%;
    padding-top: 0;
  }

  .quick-search-data {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
  }

  .esports-teams .container,
  #contact-page .container,
  .sensei-shop .container {
    padding: 0 1rem;
  }

  .esports-team-title {
    padding-left: 0;
  }

  .esports-teams-container,
  .contact-list,
  .sensei-shop-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .sponsorships-container .container {
    padding: 2.5rem 0;
  }

  .sponsor-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sponsor-content a {
    width: 15rem;
  }

  .footer-row .footer-links,
  .footer-row .logo-footer {
    justify-content: center;
  }

  .footer-info {
    display: flex;
    justify-content: center;
  }

  .footer-row3 {
    flex-direction: column;
  }

  .footer-row h4 {
    text-align: center;
  }

  .footer-socials {
    padding-top: 1.25rem;
  }

  .footer-socials a {
    margin: 0 0.5rem;
    font-size: var(--font-size-xsm);
  }
  
  .footer-socials a i {
    font-size: var(--font-size-sm);
  }

}

@media (max-width: 320px) {
  .container {
    max-width: 100%;
    margin: 0;
  }

  .dropdown-menu-socials a {
    padding: 0;
  }

  .primary .container,
  .sponsorships .container {
    margin: 0;
    padding: 0 2rem;
  }

  .logo {
    background-color: none;
  }

  .headline-title {
    width: 90%;
    font-size: var(--font-size-xsm);
    left: 2rem;
    bottom: 6rem;
  }

  .headline-btn a {
    bottom: 2rem;
    left: 2rem;
    padding: 0.75rem;
  }

  .sensei-shop-container {
    grid-auto-rows: 1fr;
  }

  .shop-tile-row-2 {
    grid-auto-rows: 1fr;
  }

  .sponsor-content {
    padding-bottom: 2.5rem;
  }

  .logo-footer {
    justify-content: center;
  }

  .logo-footer h1 {
    display: none;
  }
}




/* @media (max-width: 320px) { 
  .secondary,
  .primary-content .user-panel  {
    display: none;
  }

  .container {
    width: 310px;
  }

  .toggle-btn, 
  .dropdown-menu{
    display: block;
 }

 .matches {
  display: block;
 }

 .quick-search-data  {
  width: 100%;
  font-size: 1rem;
 }
 
 .older-articles {
  display: block;
  width: 100%;
  padding: 0;
 }

 .article-img a {
  padding: 1rem 0;
 }
}*/

/*@media (max-width: 480px) { 
  .container {
    width: 470px;
  }

  .quick-search-data  {
    width: 100%;
    flex-wrap: wrap;
    font-size: var(--font-size-xsm);
   }
}*/

/* @media (max-width: 600px){
  .container {
    width: 590px;
  }
} */


/* @media (max-width: 768px) {
  .container{
    width: 750px;
  }

  .secondary,
  .primary,
  .primary-content .user-panel,
  .logo-text {
    display: flex;
  }

  .logo {
    width: 25rem;
    gap: 10px;
  }

  .logo a {
    display: flex;
  }

  .toggle-btn {
    display: none;
  }

  .nav-socials {
    display: none;
  }

  .featured-articles,
  .card:nth-child(2),
  .older-articles,
  .card-credentials,
  .main-article {
    display: grid;
  }

  .side-card-content .card-img {
    display: none;
  }
} */

/* @media (max-width: 992px ) {
  .container{
    width: 970px;
  } 

  .older-articles,
  .website-titles,
  .quick-search-data,
  .article-content {
    width: 65%;
  }
  
  .nav-socials {
    width: 20rem;
  }
} */